In [1]:
print('Hello World!')

Hello World!

In general, Python follows the PEMDAS rule when deciding the order of operations.
https://www.mathsisfun.com/operation-order-pemdas.html

In [2]:
# Multiply 3 by 2
print(3 * 2)

6

In [3]:
# Create a variable called test_var and give it a value of 4+5
test_var = 4 + 5

# Print the value of test_var
print(test_var)

9

In [4]:
# Set the value of a new variable to 3
my_var = 3

# Print the value assigned to my_var
print(my_var)

# Change the value of the variable to 100
my_var = 100

# Print the new value assigned to my_var
print(my_var)

3
100

In [5]:
# Access to variable
print(my_var)
print(test_var)

100
9

In [6]:
# Define a function
def add_three(input_value):
    output_var = input_value + 3
    return output_var

### Body
Every line of code in the function body must be indented exactly four spaces. You can do this by pushing the space bar four times, or by hitting the "Tab" button once on your keyboard. (As you learn more about Python, you may need to indent your code by more than four spaces, but you'll learn more about that later in this course.)

In [9]:
# Run the function with 10 as 25
new_number = add_three(25)
# Check that the value is 28, as expected
print(new_number)

28

In [10]:
def get_pay(num_hours):
    # Pre-tax pay, based on receiving $15/hour
    pay_pretax = num_hours * 15
    
    # After-tax pay, based on being in 12% tax bracket
    pay_aftertax = pay_pretax * (1 - 0.12)
    
    return pay_aftertax

In [11]:
# Calculate pay based on working 40 hours
pay_fulltime = get_pay(40)
print(pay_fulltime)

528.0

In [12]:
pay_parttime = get_pay(32)
print(pay_parttime)

422.4

### Variable "scope"

Variables defined inside the function body cannot be accessed outside of the function. For instance, the next code cell errors, because pay_aftertax only exists inside the function.



You will get the same error if you try to print pay_pretax or num_hours. For this reason, if you need any information from a function, you need to make sure that appears in the return statement at the end of the function.

We refer to a variable's scope as the part of the code where it is accessible. Variables defined inside a function (like pay_aftertax) have a local scope of that function only. However, as you've seen, variables defined outside all functions (like pay_parttime) have a global scope and can be accessed anywhere.

In [13]:
def get_pay_with_more_inputs(num_hours, hourly_wage, tax_bracket):
    # Pre-tax pay
    pay_pretax = num_hours * hourly_wage
    # After-tax pay
    pay_aftertax = pay_pretax * (1 - tax_bracket)
    return pay_aftertax

In [14]:
higher_pay_aftertax = get_pay_with_more_inputs(40, 24, .22)
print(higher_pay_aftertax)

748.8000000000001

In [15]:
same_pay_fulltime = get_pay_with_more_inputs(40, 15, .12)
print(same_pay_fulltime)

528.0

In [16]:
# Define the function with no arguments and with no return
def print_hello():
    print("Hello, you!")
    print("Good morning!")
    
# Call the function
print_hello()

Hello, you!
Good morning!

In [2]:
## Data Types
### Integers
x = 14
print(x)
print(type(x))

14
<class 'int'>

In [3]:
### Floats
y = 3.28
print(y)
print(type(y))

3.28
<class 'float'>

In [4]:
### folat with fractin
z = 22 / 3
print(z)
print(type(z))

7.333333333333333
<class 'float'>

In [5]:
# Round to 5 decimal places
rounded_z = round(z, 5)
print(rounded_z)

7.33333

In [6]:
### Booleans
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

In [7]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

In [8]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

In [9]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

In [10]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

In [11]:
## Strings

w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

In [12]:
print(len(w))

14

In [13]:
# One special type of string is the empty string, which has length zero.

shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
0

In [14]:
# If you put a number in quotation marks, it has a string data type.
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

In [15]:
# If we have a string that is convertible to a float, we can use float().
# This won't always work! For instance, we can convert "10.43430" and "3" to floats, but we cannot convert "Hello, Python!" to a float.

also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

In [16]:
# add strings
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

In [17]:
# Note that it's not possible to do subtraction or division with two strings. You also can't multiply two strings, but you can multiply a string by an integer. This again results in a string that's just the original string concatenated with itself a specified number of times.
newest_string = "abc" * 3
print(newest_string)
print(type(newest_string))

abcabcabc
<class 'str'>

In [1]:
# Conditions

print(2 < 3)

True

In [2]:
var_one = 1
var_two = 2

print(var_one < 1)
print(var_two >= var_one)

False
True

In [7]:
def evaluate_temp(temp):
    # Set an initial message
    message = "Normal temperature."
    # Update value of message only if temperature greater than 38
    if temp > 38:
        message = "Fever!"
    return message

In [9]:
print(evaluate_temp(38))
print(evaluate_temp(40))

Normal temperature.
Fever!

In [12]:
# "if ... else" statements

def evaluate_temp_with_else(temp):
    if temp > 38:
        message = "Fever!"
    else:
        message = "Normal temperature."
    return message

In [13]:
print(evaluate_temp_with_else(38))
print(evaluate_temp_with_else(40))

Normal temperature.
Fever!

In [14]:
# "if ... elif ... else" statements

def evaluate_temp_with_elif(temp):
    if temp > 38:
        message = "Fever!"
    elif temp > 35:
        message = "Normal temperature."
    else:
        message = "Low temperature."
    return message

In [15]:
# Example taxes
def get_taxes(earnings):
    if earnings < 12000:
        tax_owed = .25 * earnings
    else:
        tax_owed = .30 * earnings
    return tax_owed

In [16]:
ana_taxes = get_taxes(9000)
bob_taxes = get_taxes(15000)

print(ana_taxes)
print(bob_taxes)

2250.0
4500.0

In [17]:
def add_three_or_eight(number):
    if number < 10:
        result = number + 3
    else:
        result = number + 8
    return result

In [18]:
# Multiple "elif" statements
# Once an "elif" statement evaluates to True and the code block is run, 
# the function skips over all remaining "elif" and "else" statements. 


def get_dose(weight):
    # Dosage is 1.25 ml for anyone under 5.2 kg
    if weight < 5.2:
        dose = 1.25
    elif weight < 7.9:
        dose = 2.5
    elif weight < 10.4:
        dose = 3.75
    elif weight < 15.9:
        dose = 5
    elif weight < 21.2:
        dose = 7.5
    # Dosage is 10 ml for anyone 21.2 kg or over
    else:
        dose = 10
    return dose

# Intro to Lists

In [19]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

print(type(flowers))
print(flowers)

<class 'str'>
pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle

In [20]:
flowers_list = ["pink primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold", "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]

print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [21]:
# Length
# The list has ten entries
print(len(flowers_list))

10

## Indexing

We can refer to any item in the list according to its position in the list (first, second, third, etc). This is called indexing.

Note that Python uses zero-based indexing, which means that:

    to pull the first entry in the list, you use 0,
    to pull the second entry in the list, you use 1, and
    to pull the final entry in the list, you use one less than the length of the list.

In [23]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

# The list has length ten, so we refer to final entry with 9 or -1
print("Last entry:", flowers_list[9])
print("Last entry:", flowers_list[-1])

#To print multiple things in Python with a single command, we need only separate them with a comma.

First entry: pink primrose
Second entry: hard-leaved pocket orchid
Last entry: globe thistle
Last entry: globe thistle

### Slicing

You can also pull a segment of a list (for instance, the first three entries or the last two entries). This is called slicing. For instance:

    to pull the first x entries, you use [:x], and
    to pull the last y entries, you use [-y:].

In [24]:
print("First three entries:", flowers_list[:3])
print("Final two entries:", flowers_list[-2:])

First three entries: ['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells']
Final two entries: ['monkshood', 'globe thistle']

### Removing items

Remove an item from a list with .remove(), and put the item you would like to remove in parentheses.

In [25]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

### Adding items

Add an item to a list with .append(), and put the item you would like to add in parentheses.

In [26]:
flowers_list.append("snapdragon")
print(flowers_list)

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

In [29]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales[2])

print("Minimum:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

print("Total books sold in one week:", sum(hardcover_sales))

print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

Length of the list: 7
Entry at index 2: 172
Minimum: 128
Maximum: 191
Total books sold in one week: 1107
Average books sold in first five days: 153.8


You can actually use Python to quickly turn this string into a list with .split(). In the parentheses, we need to provide the character should be used to mark the end of one list item and the beginning of another, and enclose it in quotation marks. In this case, that character is a comma.

In [30]:
flowers = "pink primrose,hard-leaved pocket orchid,canterbury bells,sweet pea,english marigold,tiger lily,moon orchid,bird of paradise,monkshood,globe thistle"

In [31]:
print(flowers.split(","))

['pink primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

In [38]:
# DO not change: Define two Python strings
alphabet = "A.B.C.D.E.F.G.H.I.J.K.L.M.N.O.P.Q.R.S.T.U.V.W.X.Y.Z"
address = "Mr. H. Potter,The cupboard under the Stairs,4 Privet Drive,Little Whinging,Surrey"

# TODO: Convert strings into Python lists
letters = alphabet.split(".")
formatted_address = address.split(",")

print("letters=", letters)
print("formatted_address", formatted_address)

letters= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
formatted_address ['Mr. H. Potter', 'The cupboard under the Stairs', '4 Privet Drive', 'Little Whinging', 'Surrey']




**list comprehensions**, which allow you to create a list based on the values in another list. In this question, you'll get a brief preview of how they work.

In [39]:
test_ratings = [1, 2, 3, 4, 5]

test_liked = [i>=4 for i in test_ratings]
print(test_liked)

[False, False, False, True, True]